<div class="row mt">
        <aside class="col-lg-3 mt">
            <h4><i class="fa fa-angle-right"></i> Draggable Events</h4>
            <div id="external-events">
                <div class="external-event label label-success" ng-repeat="flight in flights" ng-attr-data-flight={{flight}} ng-attr-data-event='{"title":"{{flight.flight_number}}""}'>
                    {{flight.flight_number}}
                </div>

                <div class="btn-group">
    						  <button type="button" class="btn btn-theme04 dropdown-toggle" data-toggle="dropdown">
    						    Bangkok <span class="caret"></span>
    						  </button>
    						  <ul class="dropdown-menu" role="menu">
                    <li  ng-repeat="flight in flights" class="external-event label label-success ui-draggable" ng-attr-data-flight={{flight}}><a>{{flight.flight_number}}</a></li>
    						    <li>Action</li>
    						    <li><a href="#">Another action</a></li>
    						    <li><a href="#">Something else here</a></li>
    						    <li class="divider"></li>
    						    <li><a href="#">Separated link</a></li>
    						  </ul>
						    </div>
            </div>
        </aside>
        <aside class="col-lg-9 mt">
            <section class="panel">
                <div class="panel-body">
                    <div id="schedule_calendar" class="has-toolbar"></div>
                </div>
            </section>
        </aside>
</div>


<script type="text/ng-template" id="schedule_modal.html">
            <div class="white-panel pn">
  								<div class="white-header">
                    <h5>{{selected_schedule.flight.flight_number}}</h5>
                    <h6>{{selected_schedule.flight.origin.name}}/{{selected_schedule.flight.destination.name}}</h6>
  								</div>
								  <!-- <p><img src="assets/img/ui-zac.jpg" class="img-circle" width="50"></p> -->
								  <!-- <p>
                     <input class="mdl-textfield__input" type="text" id="date" ng-click = "showDatePicker($event)" ng-model="selected_schedule.start">
                  </p> -->
                  <md-input-container>
                     <md-datepicker ng-model="display_date" aria-label="depature date"></md-datepicker>
                  </md-input-container>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="small mt">DEPARTURE</p>
                      <p>{{selected_schedule.flight.departure | amUtc | amDateFormat:'HH : mm'}}</p>
                    </div>
                    <div class="col-md-6">
                      <p class="small mt">ARRIVAL</p>
                      <p>{{selected_schedule.flight.arrival | amUtc | amDateFormat:'HH : mm'}}</p>
                    </div>
                  </div>
                  <md-select ng-model="selected_schedule.aircraft" placeholder="Select aircraft" class="md-no-underline" required md-no-asterisk="false">
                     <md-option ng-repeat = "aircraft in aircrafts" ng-selected = "selected_schedule.aircraft == aircraft.aircraft_number" value="{{aircraft.aircraft_number}}">{{aircraft.aircraft_number}}</md-option>
                 </md-select>
                  
                  <div class="mdl-card__actions mdl-card--border">
                      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="add()">
                        Add to Schedule
                      </a>
                      <div class="mdl-card__menu">
                        <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="cancel()">
                          <i class="material-icons">cancel</i>
                        </button>
                      </div>
                      <div class="mdl-layout-spacer"></div>
                 </div>

							</div>
