<div class="row mt">
        <aside class="col-lg-3 mt">
            <h4><i class="fa fa-angle-right"></i> Draggable Events</h4>
            <div id="external-events">
                <div class="external-event label label-success" ng-repeat="flight in flights" ng-attr-data-flight={{flight}} ng-attr-data-event='{"title":"{{flight.flight_number}}""}'>
                    {{flight.flight_number}}
                </div>

                <div class="btn-group">
    						  <button type="button" class="btn btn-theme04 dropdown-toggle" data-toggle="dropdown">
    						    Bangkok <span class="caret"></span>
    						  </button>
    						  <ul class="dropdown-menu" role="menu">
                    <li  ng-repeat="flight in flights" class="external-event label label-success ui-draggable" ng-attr-data-flight={{flight}}><a>{{flight.flight_number}}</a></li>
    						    <li>Action</li>
    						    <li><a href="#">Another action</a></li>
    						    <li><a href="#">Something else here</a></li>
    						    <li class="divider"></li>
    						    <li><a href="#">Separated link</a></li>
    						  </ul>
						    </div>
            </div>
        </aside>
        <aside class="col-lg-9 mt">
            <section class="panel">
                <div class="panel-body">
                    <div id="schedule_calendar" class="has-toolbar"></div>
                </div>
            </section>
        </aside>
</div>


<script type="text/ng-template" id="schedule_modal.html">
       <div class="modal-header">
           <h3 class="modal-title">Schedule</h3>
       </div>
       <div class="modal-body">
         <form class="form-login">
           <div class="form-group">
             <span class="label label-info">{{schedule.flight_number}} {{schedule.flight.origin.name}}/{{schedule.flight.destination.name}}</span>
           </div>
            <div class="form-group">
              <div class="input-append dateInput" >
                <input type="text" class="form-control" id="date" ng-click = "showDatePicker($event)" ng-model="schedule.date"  placeholder="date">
              </div>
            </div>
<div class="form-group">
              <label class="sr-only" for="departure">departure</label>
              <input type="text" class="form-control" id="departure" ng-model="schedule.flight.departure"  ng-click = "showTimePicker($event)" placeholder="departure">

            </div>
            <div class="form-group">
              <label class="sr-only" for="arrival">arrival</label>
              <input type="text" class="form-control timpeInput" id="arrival" ng-model="schedule.flight.arrival" ng-click = "showTimePicker($event)"  placeholder="arrival">
            </div>
            <div class="form-group">
              <label class="sr-only" for="aircraft">aircraft</label>
              <select class="form-control" ng-options = "aircraft as aircraft.aircraft_number for aircraft in aircrafts track by aircraft.aircraft_number" ng-model="schedule.aircraft">
                  <option value="">Select Aircraft</option>
              </select>
            </div>
          </form>
       </div>
       <div class="modal-footer">
           <button class="btn btn-primary" type="button" ng-click="add()">Add</button>
           <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
       </div>
</script>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker4').datetimepicker({
      pickTime: false
    });
  });
</script>
